* {
  margin: 0px;
  padding: 0px;
}
.temp {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.calculator {
  width: 600px;
  height: 800px;
  background-color: cadetblue;
  border-radius: 20px;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 50px;
}

.display {
  width: 95%;
  height: 120px;
  text-align: right;
  font-size: 60px;
  background-color: white;
}
.half {
  height: 280px;
  background-color: grey;
  border-radius: 10px;
  width: 95%;

  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.button {
  background-color: #03a9f4;
  border: none;
  font-size: 1.5rem;

  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
  width: 80px;
  height: 80px;
}
.equal {
  background-color: #03a9f4;
  border: none;
  font-size: 1.5rem;

  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
  width: 80px;
  height: 180px;
}
